page-login {

    
    .logo-col {
        text-align: center;
    }

    .logo-img {
        width: 75vw;
        height: auto;
    }

    ion-grid, .grid {
        padding-top: 30vw;
    }

    .login-box {
        background: #f7f7f7;
        padding: 10px 10px 0px 10px;
        margin-top: 30px;
        width: 90%;
        text-align: center;
        align-items: center;
        margin-left: 5%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 3);     

    }

    .btn-login {
        background: #00c94f;
        border-color: #00c94f;
        margin-bottom: 5vw;
    }
}
