<ion-content padding>

  <ion-grid>

    <ion-row>

      <ion-col col-12 class="logo-col">
        <img class="logo-img" src="assets/imgs/logo.png" alt="Logo Treinaweb">
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-12>

        <div class="login-box">

          <form [formGroup]="loginFrmGroup" (submit)="login()">
            
            <ion-row>
              <ion-col col-12>
                <ion-list inset>
                  <ion-item>
                    <ion-input formControlName="email" type="text" name="email" placeholder="Email" autocomplete="on"
                    [class.invalido]="foiSubmetido && !loginFrmGroup.controls.email.valid"
                    [(ngModel)]="loginModel.email"
                    ></ion-input>
                  </ion-item>
                  <p class="mensagem-invalido" *ngIf="foiSubmetido && !loginFrmGroup.controls.email.valid">Email inválido</p>
                  <ion-item>
                    <ion-input formControlName="senha" type="password" name="password" placeholder="Senha"
                    [class.invalido]="foiSubmetido && !loginFrmGroup.controls.senha.valid"
                    [(ngModel)]="loginModel.senha"
                    ></ion-input>
                  </ion-item>
                  <p class="mensagem-invalido" *ngIf="foiSubmetido && !loginFrmGroup.controls.senha.valid">Senha com menos de 3 caracteres</p>
                </ion-list>
              </ion-col>
            </ion-row> <!-- Line Email -->

            <ion-row>
                <ion-col>
                  <button type="submit" ion-button full icon-left class="btn-login" >
                  <ion-icon name='log-in'></ion-icon>
                  Entrar
                </button>
                </ion-col>
            </ion-row> <!-- Line Button  -->

          </form>

        </div> <!-- Box Form Gray  -->

      </ion-col>

    </ion-row>

  </ion-grid>

  <!-- {{loginFrmGroup.controls.email.valid}} -->
</ion-content>