<ion-tabs>
    <ion-tab [root]="tabHome" tabTitle="Home" tabIcon="home">Home</ion-tab>
    <ion-tab [root]="tabProdutos" tabTitle="Produtos" tabIcon="shirt">Produtos</ion-tab>
    <ion-tab [root]="tabPerfil" tabTitle="Perfil" tabIcon="person">Perfil</ion-tab>
</ion-tabs>

